In [2]:
## Model Training

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("./data/gemstone.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
df.drop('id',axis=1)

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [6]:
# Independent and Dependent features
# here x=independent ,y=dependent feature
x= df.drop('price',axis=1)
y=df[['price']]

In [8]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [7]:
# getting numerical columns and feature columns
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols=x.select_dtypes(include='object').columns
numerical_col=x.select_dtypes(exclude='object').columns

In [ ]:
# define the custom ranking for each ordinal group
cut_categories=['Fair','Good','Very Good','Premium','Ideal']
color_categories=['D','E','F','G','H','I','j']
clarity_categories=['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [11]:
from sklearn.impute import SimpleImputer

In [ ]:
# above library is used for handle missing value for univarient by (mean,median,mode)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
# for feature scaling we used this library
# we need feature scaling for reaching gloabal minima

In [14]:
from sklearn.preprocessing import OrdinalEncoder
# this is for performing ordinal encoding
# what we done before with mapping we do it by ordinal encoding
# when ever our categorical feature have rank u use ordinal encoding

In [15]:
# for pipeline we import libraries like
# it is connecting simple imputer to standard scaler
from sklearn.pipeline import Pipeline

In [16]:
# for grouping all these together we have to import
from sklearn.compose import ColumnTransformer

In [18]:
## Numerical Pipeline
# we perform simple imputer or handle missing value
# for get better accuracy we perform scalling
num_pipeline=Pipeline(
    steps=[
    ("imputer",SimpleImputer(strategy="median")),
    ("scaler",StandardScaler())
    ]
)

## Categorical Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('Imputer',SimpleImputer(strategy='most_frequent')),
    ("OrdinalEncoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
    ('scaler',StandardScaler())   
    ]
)

<>:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:14: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:14: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))
/tmp/ipykernel_4250/4013869651.py:6: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("imputer",SimpleImputer(strategy="median"))

TypeError: 'tuple' object is not callable